.Home {
	/* width: 100%; */
	/* margin: 0; */
	padding: 15vh 15vw;
	/* font-size: 1em; */
	/* display: flex;
	justify-content: center;
	align-items: center; */
	text-align: center;
}
.Form {
	width: min(650px, 100%);
	margin: auto;
	text-align: start;
}
.formInput {
	width: 60%;
	margin: 0 1% 2% 0;
	/* padding: 1vh 1vw; */
	display: inline-block;
	vertical-align: middle;
}
.formSubmit {
	width: 38%;
	margin: 0 0 2% 1%;
	/* padding: 1vh 1vw; */
	display: inline-block;
	vertical-align: middle;
	text-align: center;
}

.paperPad {
	padding: 5vh 5vw;
}
